{% extends 'base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <h1>Créer une intervention</h1>

    {{ include('intervention/_form.html.twig') }}

    <a href="{{ path('intervention_index') }}">back to list</a>
{% endblock %}
