{% extends 'base.html.twig' %}

{% block title %}New ReportingType{% endblock %}

{% block body %}
    <h1>Create new ReportingType</h1>

    {{ include('reporting_type/_form.html.twig') }}

    <a href="{{ path('reporting_type_index') }}">back to list</a>
{% endblock %}
